
CREATE TABLE `{{context.ext.min_table_name_2}}` (
{{context.ext.common_table_field_2}}
`day_data_01_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_01_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_02_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_02_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_03_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_03_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_04_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_04_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_05_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_05_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_06_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_06_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_07_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_07_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_08_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_08_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_09_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_09_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_10_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_10_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_11_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_11_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},

`day_data_12_01` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_02` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_03` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_04` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_05` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_06` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_07` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_08` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_09` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_10` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_11` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_12` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_13` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_14` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_15` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_16` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_17` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_18` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_19` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_20` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_21` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_22` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_23` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_24` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_25` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_26` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_27` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_28` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_29` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_30` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},
`day_data_12_31` {{context.ext.min_data_type}}  NOT NULL DEFAULT {{context.ext.min_data_default}},



`month_data_01` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_01_01`,
`day_data_01_02`,
`day_data_01_03`,
`day_data_01_04`,
`day_data_01_05`,
`day_data_01_06`,
`day_data_01_07`,
`day_data_01_08`,
`day_data_01_09`,
`day_data_01_10`,
`day_data_01_11`,
`day_data_01_12`,
`day_data_01_13`,
`day_data_01_14`,
`day_data_01_15`,
`day_data_01_16`,
`day_data_01_17`,
`day_data_01_18`,
`day_data_01_19`,
`day_data_01_20`,
`day_data_01_21`,
`day_data_01_22`,
`day_data_01_23`,
`day_data_01_24`,
`day_data_01_25`,
`day_data_01_26`,
`day_data_01_27`,
`day_data_01_28`,
`day_data_01_29`,
`day_data_01_30`,
`day_data_01_31`)),
`month_data_02` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_02_01`,
`day_data_02_02`,
`day_data_02_03`,
`day_data_02_04`,
`day_data_02_05`,
`day_data_02_06`,
`day_data_02_07`,
`day_data_02_08`,
`day_data_02_09`,
`day_data_02_10`,
`day_data_02_11`,
`day_data_02_12`,
`day_data_02_13`,
`day_data_02_14`,
`day_data_02_15`,
`day_data_02_16`,
`day_data_02_17`,
`day_data_02_18`,
`day_data_02_19`,
`day_data_02_20`,
`day_data_02_21`,
`day_data_02_22`,
`day_data_02_23`,
`day_data_02_24`,
`day_data_02_25`,
`day_data_02_26`,
`day_data_02_27`,
`day_data_02_28`,
`day_data_02_29`)),
`month_data_03` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_03_01`,
`day_data_03_02`,
`day_data_03_03`,
`day_data_03_04`,
`day_data_03_05`,
`day_data_03_06`,
`day_data_03_07`,
`day_data_03_08`,
`day_data_03_09`,
`day_data_03_10`,
`day_data_03_11`,
`day_data_03_12`,
`day_data_03_13`,
`day_data_03_14`,
`day_data_03_15`,
`day_data_03_16`,
`day_data_03_17`,
`day_data_03_18`,
`day_data_03_19`,
`day_data_03_20`,
`day_data_03_21`,
`day_data_03_22`,
`day_data_03_23`,
`day_data_03_24`,
`day_data_03_25`,
`day_data_03_26`,
`day_data_03_27`,
`day_data_03_28`,
`day_data_03_29`,
`day_data_03_30`,
`day_data_03_31`)),
`month_data_04` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_04_01`,
`day_data_04_02`,
`day_data_04_03`,
`day_data_04_04`,
`day_data_04_05`,
`day_data_04_06`,
`day_data_04_07`,
`day_data_04_08`,
`day_data_04_09`,
`day_data_04_10`,
`day_data_04_11`,
`day_data_04_12`,
`day_data_04_13`,
`day_data_04_14`,
`day_data_04_15`,
`day_data_04_16`,
`day_data_04_17`,
`day_data_04_18`,
`day_data_04_19`,
`day_data_04_20`,
`day_data_04_21`,
`day_data_04_22`,
`day_data_04_23`,
`day_data_04_24`,
`day_data_04_25`,
`day_data_04_26`,
`day_data_04_27`,
`day_data_04_28`,
`day_data_04_29`,
`day_data_04_30`)),
`month_data_05` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_05_01`,
`day_data_05_02`,
`day_data_05_03`,
`day_data_05_04`,
`day_data_05_05`,
`day_data_05_06`,
`day_data_05_07`,
`day_data_05_08`,
`day_data_05_09`,
`day_data_05_10`,
`day_data_05_11`,
`day_data_05_12`,
`day_data_05_13`,
`day_data_05_14`,
`day_data_05_15`,
`day_data_05_16`,
`day_data_05_17`,
`day_data_05_18`,
`day_data_05_19`,
`day_data_05_20`,
`day_data_05_21`,
`day_data_05_22`,
`day_data_05_23`,
`day_data_05_24`,
`day_data_05_25`,
`day_data_05_26`,
`day_data_05_27`,
`day_data_05_28`,
`day_data_05_29`,
`day_data_05_30`,
`day_data_05_31`)),
`month_data_06` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_06_01`,
`day_data_06_02`,
`day_data_06_03`,
`day_data_06_04`,
`day_data_06_05`,
`day_data_06_06`,
`day_data_06_07`,
`day_data_06_08`,
`day_data_06_09`,
`day_data_06_10`,
`day_data_06_11`,
`day_data_06_12`,
`day_data_06_13`,
`day_data_06_14`,
`day_data_06_15`,
`day_data_06_16`,
`day_data_06_17`,
`day_data_06_18`,
`day_data_06_19`,
`day_data_06_20`,
`day_data_06_21`,
`day_data_06_22`,
`day_data_06_23`,
`day_data_06_24`,
`day_data_06_25`,
`day_data_06_26`,
`day_data_06_27`,
`day_data_06_28`,
`day_data_06_29`,
`day_data_06_30`)),
`month_data_07` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_07_01`,
`day_data_07_02`,
`day_data_07_03`,
`day_data_07_04`,
`day_data_07_05`,
`day_data_07_06`,
`day_data_07_07`,
`day_data_07_08`,
`day_data_07_09`,
`day_data_07_10`,
`day_data_07_11`,
`day_data_07_12`,
`day_data_07_13`,
`day_data_07_14`,
`day_data_07_15`,
`day_data_07_16`,
`day_data_07_17`,
`day_data_07_18`,
`day_data_07_19`,
`day_data_07_20`,
`day_data_07_21`,
`day_data_07_22`,
`day_data_07_23`,
`day_data_07_24`,
`day_data_07_25`,
`day_data_07_26`,
`day_data_07_27`,
`day_data_07_28`,
`day_data_07_29`,
`day_data_07_30`,
`day_data_07_31`)),
`month_data_08` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_08_01`,
`day_data_08_02`,
`day_data_08_03`,
`day_data_08_04`,
`day_data_08_05`,
`day_data_08_06`,
`day_data_08_07`,
`day_data_08_08`,
`day_data_08_09`,
`day_data_08_10`,
`day_data_08_11`,
`day_data_08_12`,
`day_data_08_13`,
`day_data_08_14`,
`day_data_08_15`,
`day_data_08_16`,
`day_data_08_17`,
`day_data_08_18`,
`day_data_08_19`,
`day_data_08_20`,
`day_data_08_21`,
`day_data_08_22`,
`day_data_08_23`,
`day_data_08_24`,
`day_data_08_25`,
`day_data_08_26`,
`day_data_08_27`,
`day_data_08_28`,
`day_data_08_29`,
`day_data_08_30`,
`day_data_08_31`)),
`month_data_09` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_09_01`,
`day_data_09_02`,
`day_data_09_03`,
`day_data_09_04`,
`day_data_09_05`,
`day_data_09_06`,
`day_data_09_07`,
`day_data_09_08`,
`day_data_09_09`,
`day_data_09_10`,
`day_data_09_11`,
`day_data_09_12`,
`day_data_09_13`,
`day_data_09_14`,
`day_data_09_15`,
`day_data_09_16`,
`day_data_09_17`,
`day_data_09_18`,
`day_data_09_19`,
`day_data_09_20`,
`day_data_09_21`,
`day_data_09_22`,
`day_data_09_23`,
`day_data_09_24`,
`day_data_09_25`,
`day_data_09_26`,
`day_data_09_27`,
`day_data_09_28`,
`day_data_09_29`,
`day_data_09_30`)),
`month_data_10` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_10_01`,
`day_data_10_02`,
`day_data_10_03`,
`day_data_10_04`,
`day_data_10_05`,
`day_data_10_06`,
`day_data_10_07`,
`day_data_10_08`,
`day_data_10_09`,
`day_data_10_10`,
`day_data_10_11`,
`day_data_10_12`,
`day_data_10_13`,
`day_data_10_14`,
`day_data_10_15`,
`day_data_10_16`,
`day_data_10_17`,
`day_data_10_18`,
`day_data_10_19`,
`day_data_10_20`,
`day_data_10_21`,
`day_data_10_22`,
`day_data_10_23`,
`day_data_10_24`,
`day_data_10_25`,
`day_data_10_26`,
`day_data_10_27`,
`day_data_10_28`,
`day_data_10_29`,
`day_data_10_30`,
`day_data_10_31`)),
`month_data_11` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_11_01`,
`day_data_11_02`,
`day_data_11_03`,
`day_data_11_04`,
`day_data_11_05`,
`day_data_11_06`,
`day_data_11_07`,
`day_data_11_08`,
`day_data_11_09`,
`day_data_11_10`,
`day_data_11_11`,
`day_data_11_12`,
`day_data_11_13`,
`day_data_11_14`,
`day_data_11_15`,
`day_data_11_16`,
`day_data_11_17`,
`day_data_11_18`,
`day_data_11_19`,
`day_data_11_20`,
`day_data_11_21`,
`day_data_11_22`,
`day_data_11_23`,
`day_data_11_24`,
`day_data_11_25`,
`day_data_11_26`,
`day_data_11_27`,
`day_data_11_28`,
`day_data_11_29`,
`day_data_11_30`)),
`month_data_12` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
`day_data_12_01`,
`day_data_12_02`,
`day_data_12_03`,
`day_data_12_04`,
`day_data_12_05`,
`day_data_12_06`,
`day_data_12_07`,
`day_data_12_08`,
`day_data_12_09`,
`day_data_12_10`,
`day_data_12_11`,
`day_data_12_12`,
`day_data_12_13`,
`day_data_12_14`,
`day_data_12_15`,
`day_data_12_16`,
`day_data_12_17`,
`day_data_12_18`,
`day_data_12_19`,
`day_data_12_20`,
`day_data_12_21`,
`day_data_12_22`,
`day_data_12_23`,
`day_data_12_24`,
`day_data_12_25`,
`day_data_12_26`,
`day_data_12_27`,
`day_data_12_28`,
`day_data_12_29`,
`day_data_12_30`,
`day_data_12_31`)),
`year_data` {{context.ext.min_data_type}} GENERATED ALWAYS AS (LEAST(
	`month_data_01`,
	`month_data_02`,
	`month_data_03`,
	`month_data_04`,
	`month_data_05`,
	`month_data_06`,
	`month_data_07`,
	`month_data_08`,
	`month_data_09`,
	`month_data_10`,
	`month_data_11`,
	`month_data_12`)),

{{context.ext.common_table_primary_2}}
)DEFAULT CHARSET=utf8mb4;

